@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>
        Online Cafe Service Sialkot Pakistan</title>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <nav id="navbar">
        <div id="logo">
            <img src="/images/pizza.jpg" alt="My Cafe">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Services</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">About</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome To My Juicy Cafe</h1>
        <p>Cafe are such a great place</p>
        <button class="btn">Order Now</button>
    </section>
     class="Service">
        <h1 class="h-primary center">Our Cafe services</h1>
        <div id="services">
            <div class="box">
                <img src="/images/pizza.jpg" alt="">
                <h2 class="h-secondary centre">Food Ordering</h2>
            </div>
            <div class="box">
                <img src="logo2.png" alt="">
                <h2 class="h-secondary centre"> type of coffee</h2>
            </div>
            <div class="box">
                <img src="fries.jpg" alt="">
                <h2 class="h-secondary">Fries and fry chicken</h2>
            </div>
            <div class="box">
                <img src="/images/zinger.jpg">
                <h2 class="h-secondary">Burger</h2>
            </div>
        </div>
        </div>
    
    <section id="client-section">
    
    <div id="clients">
        <h1 class="h-primary centre">Our clients</h1>
    </div>
    <div class="client item">
        <img src="/images/champs.jpg" alt="">
    </div>
    <div class="clients">
        <div class="client item"></div>
        <img src="/images/gr.png" alt="">
    </div>
    <div class="clients">
        <div class="client item"></div>
        <img src="/images/cup.png" alt="">
 
    </section>


}
